#sectionvideo{
    width: 100%;
    margin: 0 auto;
    align-content: center;
}
#sectionvideo iframe{
    align-content: center;
    padding-left: 30%;
}

section{
    width: 33%;
    float: left;
    padding: 10px 10px;
    box-sizing: border-box;
}
#imgmenu{
    width: 85%;
    height: 85%;
    padding-left: 40px;   
}
p{
    text-align: center;
}